{% extends "base.html" %}
  {% block head %}
    {{ super() }}
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <!-- My CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/keys.css')}}">
    

    {% endblock %}
    {% block content %}
    {{ super() }}
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Type query here" aria-label="Type query here" aria-describedby="basic-addon2">
        <div class="input-group-append">
            <button type="button" class="btn btn-primary">Search</button>
        </div>
      </div>

      <div class="btn-group" role="group" aria-label="Basic example" id="keys_action_buttons">
        <button id="selected_items_indicator" type="button" class="btn btn-info">0 Selected</button>
        <button id="delete_button"  type="button" class="btn btn-danger"  disabled onclick=action(0) >Delete</button>
        <button id="renewal_button" type="button" class="btn btn-warning" disabled onclick=action(1) >Force Renewal</button>
        <button id="disable_button" type="button" class="btn btn-warning" disabled onclick=action(2) >Disable guard</button>
        <button id="prolong_button" type="button" class="btn btn-success" disabled onclick=action(3) >Prolong</button>
        <button id="add_button"     type="button" class="btn btn-success" onclick=add_button_clicked() >Add key</button>
      </div>

      <div id="adding_new_key" class="jumbotron" style="visibility:hidden;position:absolute;">
        <h1 class="display-4">Add new key:</h1>
        <p class="lead">Copy and paste your public key to box below and click add button below.</p>

        
        <textarea id="new_public_key"></textarea>
        <hr class="my-4">
        <a class="btn btn-success btn-lg float-right" href="#" role="button" onclick=add_key()>Add</a>
        <a class="btn btn-danger btn-lg float-right" style="position:relative;right:4px;" href="#" role="button" onclick=close_key()>Close</a>
      </div>

      <form action="#" method="POST">
        <table class="table">
            <thead class="thead-dark">
            <tr>
                <th scope="col">#</th>
                <th scope="col">user</th>
                <th scope="col">ssh public key</th>
                <th scope="col">last renewal</th>
                <th scope="col">renewable by</th>
                <th scope="col">valid through</th>
            </tr>
            </thead>
            <tbody>
                {% for row in table %}
                    <tr scopr="row" class="keys_row" id="key_nr_{{ row[0] }}" onclick=row_click({{ row[0] }}) >
                    <td style="width:5%">{{ loop.index }}</td>
                    <td style="width:5%">{{ row[1] }}</td>
                    <td style="word-break:break-all; width:75%">{{ row[2] }}</td>
                    <td style="width:5%">{{ row[3] }}</td>
                    <td style="width:5%">{{ row[4] }}</td>
                    <td style="width:5%">{{ row[5] }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        </form>


    <!-- Optional JavaScript -->
    <script type="text/javascript" src="{{ url_for('static', filename='js/keys.js')}}"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    
  {% endblock %}
  